In [ ]:
import pandas as pd
import numpy as np
from sklearn import linear_model

link="https://raw.githubusercontent.com/ImrulkayeSifat/DataScience/main/4K_House_Rent_Dataset.csv"
data=pd.read_csv(link)
data

In [ ]:
data.City[data.City == 'Kolkata']=1
data.City[data.City=='Hyderabad']=3
data.City[data.City=='Mumbai']=2
data.City[data.City=='Bangalore']=4
data.City[data.City=='Delhi']=6
data.City[data.City=='Chennai']=7
x1=data['BHK'].values
x2=data['Size'].values
x3=data['City'].values
x4=data['Bathroom'].values
y=data['Rent'].values
print(y)

In [ ]:
m= len(x1)
epoch = 1000
learning_rate=0.000001

theta0 = 0
theta1 = 0
theta2 = 0
theta3 = 0
theta4 = 0
print(m)

4746

In [ ]:
for i in range(epoch):
    sum0=0
    sum1=0
    sum2=0
    sum3=0
    sum4=0

    for j in range(m):
        sum0 += (theta0 + theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j])
        sum1 += (theta0 + theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j]) * x1[j]
        sum2 += (theta0 + theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j]) * x2[j]
        sum3 += (theta0 + theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j]) * x3[j]
        sum4 += (theta0 + theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j]) * x4[j]

    theta0 = theta0 - learning_rate * (sum0) / m
    theta1 = theta1 - learning_rate * (sum1) / m
    theta2 = theta2 - learning_rate * (sum2) / m
    theta3 = theta3 - learning_rate * (sum3) / m
    theta4 = theta4 - learning_rate * (sum4) / m

print(theta0,theta1,theta2,theta3,theta4)

-4.241508736178645 -0.16402587801169052 40.704910889839226 -37.04108252698824 5.259317543057751

In [ ]:
sum=0
for j in range(m):
  tsum = theta0 +  theta1*x1[j] + theta2*x2[j] + theta3*x3[j] + theta4*x4[j] - y[j]
  tsum = tsum * tsum
  sum = sum + tsum

cost = sum/(2*m)
print(cost)

2557325009.8123918

In [ ]:
predict = theta0 + theta1*2 + theta2*1100 + theta3*1 + theta4*2
print(predict)

44744.30997089008